<div class="container">
  <div class="row">
      <%= render 'books/list', book: @book, user: @user %>
<div class="col-md-8 offset-md-1">
<table class="table table-hover table-inverse">
  <h1>Users</h1>
  <thead>
    <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
    <th colspan = "3"></th>
    </tr>
  </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
          <td>
            <%= image_tag user.get_profile_image(100,100) %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td><%= link_to "Show", user_path(user) %></td>
      </tr>
    </tbody>
    <% end %>
</table>
</div>
</div>
</div>
