<div>
  <%= flash[:notice] %>
</div>
  <div class = "container w-50">
    <div class="mt-3">
      <h1 class =  "my-3">welcome to <i class="fas fa-book"></i>Bookers !!</h1>
      <h6>In <i class="fas fa-book"></i>Bookers,<br><br>
      you can share and exchange your opinions , inpressions , and emotions<br><br>
      about various books!</h6>
    </div>

    <div class="row">
      <div class = "col-9 mx-auto"><%= link_to "Log in", new_user_session_path, class:"btn-info btn-sm btn-block mb-3 text-center" %>
      </div>
    </div>

    <div class="row">
      <div class = "col-9 mx-auto"><%= link_to "Sign up", new_user_registration_path, class:"btn-success btn-sm btn-block mb-3 text-center" %>
      </div>
    </div>
  </div>